version: 2.1

orbs:
  android: circleci/android@2.4.0
jobs:
  build:
    docker:
      - image: cimg/android:2024.01
    steps:
      - checkout
      - run:
          name: Chmod Permissions
          command: sudo chmod +x gradlew
      - run:
          name: Build 
          command: ./gradlew assembleSnapshotDebug

  test:
    description: Runs unit tests and instrumented tests on the Android 
    executor:
      name: android/android-machine
      resource-class: xlarge
      tag: 2024.01.1

    steps:
      - checkout
      - run:
          name: Chmod Permissions
          command: sudo chmod +x gradlew

      - android/create-avd:
          avd-name: avd
          install: true
          system-image: system-images;android-29;default;x86
      - android/start-emulator:
          avd-name: avd
          no-window: true
          post-emulator-launch-assemble-command: ./gradlew assemble
      - android/run-tests:
          test-command: ./gradlew createSnapshotDebugUnitTestCoverageReport
      - android/run-tests:
          test-command: ./gradlew createSnapshotDebugAndroidTestCoverageReport
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - run:
         name: Save Android test results
         command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/outputs/androidTest-results/.*xml" -exec cp {} ~/test-results/junit/ \;
         when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit



  



